<div class="container">
    <footer>
      <div class="footerContainer">
        <div
          class="row"
          data-aos="fade-up"
          data-aos-delay="250"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div>
            <div class="social-icons">
             
              <div class="button">
                <div class="icon">
                  <a href="https://www.linkedin.com/in/yasmin-gamil-79527b254/" target="_blank"
                    ><i class="bx bxl-linkedin" ></i
                  ></a>
                </div>
              </div>
             
              <div class="button">
                <div class="icon">
                  <a href="https://github.com/yasmingamil22?tab=repositories" target="_blank"
                    ><i class="bx bxl-github" ></i
                  ></a>
                </div>
              </div>
              <div class="button">
                <div class="icon">
                  <a href="https://www.youtube.com/watch?v=8xahl_K6dns&list=PLAVkguADveCbQeFMlR38p7bVtPBXfhWZR" target="_blank"
                    ><i class="bx bxl-youtube" ></i
                  ></a>
                </div>
              </div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="page-scroll">
              <a
                id="to-top"
                class="page-scroll"
                (click)="scrollToTopWithDelay(500)"
              >
                <img
                  id="rocket"
                  src="../../../assets/img/rocket.png"
                  matTooltip="Lift me up, rocketty"
                  [matTooltipPosition]="tooltipPosition"
                  [matTooltipShowDelay]="300"
                  [matTooltipHideDelay]="300"
                />
              </a>
            </div>
            <mat-divider></mat-divider>
            <div class="copyright">
              <p>&COPY; Yasmin Gamil 2024.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  