:host {
    .projectItemContainer {
      display: flex;
      color: var(--navy);
      height: auto;
      position: relative;
      flex-direction: column;
      background-color: var(--white);
  
      .projectsContent {
        display: block;
        padding: 1rem 0;
  
        .projectsRow {
          /*display: grid;
          grid-template-columns: 1fr;
          grid-gap: 2rem;*/
          display: flex;
          flex-direction: column;

          margin-bottom: 1rem;
  
          .projectsRowImgCont {
            overflow: hidden;
          
          }
  
          .projectsRowContent {
            display: flex;
            padding: 1rem 0;
            flex-direction: column;
            align-items: center;
  
            .toolTitle {
              font-weight: bold;
              color: var(--navy);
              margin-top: 30px;

              
            }
  
            .btn {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
  
  :host.pc {
    .projectItemContainer {
      .projectsContent {
        display: block;
        padding: 3rem 5rem;
  
        .projectsRow {
        /*  display: grid;
          grid-template-columns: 1.5fr 1fr;
          grid-gap: 4rem;*/
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          .projectsRowContent {
            place-items: start;
          }
        }
      }
    }
  }
  