<div class="container">
    <div class="projectContainer">
      <h2 class="heading">
        <span
          class="headingMain"
          data-aos="fade-up"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
          >Projects</span
        >
        <span
          class="headingSub"
          data-aos="fade-up"
          data-aos-delay="150"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        Here you will find some of the personal and team projects on that i worked with their source code and live link.
  
        </span>
      </h2>
  
      <app-project-items Responsive >
        <img
          src="../../../assets/projects/quiz system.png"
          alt="Software Screenshot"
          class="projectsRowImg"
          loading="lazy"
        />
        <h3
          class="projectsRowContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="120"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        Quiz Management System
        </h3>
        <p
          class="projectsRowContentDesc"
          data-aos="fade-left"
          data-aos-delay="150"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        The Quiz Management System is a complete solution for creating and managing online exams. <br> The instructor portal allows instructors to create and manage exams, monitor student performance, and analyze results. <br> The student portal provides students with a unique code to access exams, view results, and track their exam history. <br>This system enhances the assessment process with a user-friendly interface and robust functionality.
  
        </p>
        <div
          class="tools"
          data-aos="zoom-in-left"
          data-aos-delay="190"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="toolsName" *ngFor="let tools of quizPoject">
            {{ tools.name  }}
          </div>
          <div class="toolsName" *ngFor="let tools of allProjectTool">
            {{ tools.name  }}
          </div>
        </div>
        <div class="btns">
          <button mat-raised-button class="livBtn" >
            <a href="https://github.com/yasmingamil22/quiz-app" target="_blank">Source Code</a>
            
          </button>
          <button mat-raised-button class="livBtn" >
            <a href="https://quiz-app-woad-five.vercel.app/" target="_blank">Live Demo</a>
          </button>
        </div>
      </app-project-items>
  
      <app-project-items Responsive>
        <img
          src="../../../assets/projects/hotel.png"
          alt="Software Screenshot"
          class="projectsRowImg"
          loading="lazy"
        />
        <h3
          class="projectsRowContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="120"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          Hotel Staycation
        </h3>
        <p
          class="projectsRowContentDesc"
          data-aos="fade-left"
          data-aos-delay="150"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        The Hotel Staycation  is a comprehensive System designed to streamline hotel operations. <br> The admin portal allows hotel managers to handle reservations, manage room availability, and oversee guest services. <br> The guest portal enables customers to book rooms, check availability, and view their booking history. <br>This system enhances the guest experience and improves operational efficiency with a user-friendly interface and robust features.
  
        </p>
        <div
          class="tools"
          data-aos="zoom-in-left"
          data-aos-delay="190"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="toolsName" *ngFor="let tools of hotelProject">
            {{ tools.name  }}
          </div>
  
          <div class="toolsName" *ngFor="let tools of allProjectTool">
            {{ tools.name  }}
          </div>
  
        </div>
        <div class="btns">
          <button mat-raised-button class="livBtn" >
            <a href="https://github.com/yasmingamil22/Hotel-Staycation.git" target="_blank">Source Code</a>
            
          </button>
          <button mat-raised-button class="livBtn" >
            <a href="https://deploy-preview-135--hotel-staycation.netlify.app/#/" target="_blank">Live Link</a>
          </button>
        </div>
      </app-project-items>
  
      <app-project-items Responsive>
        <img
          src="../../../assets/projects/project system.png"
          alt="Software Screenshot"
          class="projectsRowImg"
          loading="lazy"
        />
        <h3
          class="projectsRowContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="120"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        Project Management System
        </h3>
        <p
          class="projectsRowContentDesc"
          data-aos="fade-left"
          data-aos-delay="150"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        The Project Management System is a robust tool designed to facilitate project and task management. <br> The admin portal allows project managers to create, assign, and monitor tasks, manage projects, and oversee user activities. <br> The user portal enables team members to update task statuses, manage their profiles, and collaborate effectively. <br>This system enhances productivity and collaboration with a user-friendly interface and comprehensive functionality.
  
        </p>
        <div
          class="tools"
          data-aos="zoom-in-left"
          data-aos-delay="190"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="toolsName" *ngFor="let tools of projectSystem">
            {{ tools.name  }}
          </div>
  
          <div class="toolsName" *ngFor="let tools of allProjectTool">
            {{ tools.name  }}
          </div>
        </div>
        <div class="btns">
          <button mat-raised-button class="livBtn" >
            <a href="https://github.com/yasmingamil22/PMS" target="_blank">Source Code</a>
            
          </button>
          <button mat-raised-button class="livBtn" >
            <a href="https://pms-navy-nu.vercel.app/" target="_blank">Live Demo</a>
          </button>
        </div>
      </app-project-items>
  
  
      <app-project-items Responsive>
        <img
          src="../../../assets/projects/food project.png"
          alt="Software Screenshot"
          class="projectsRowImg"
          loading="lazy"
        />
        <h3
          class="projectsRowContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="120"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        Food Project
        </h3>
        <p
          class="projectsRowContentDesc"
          data-aos="fade-left"
          data-aos-delay="150"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        The Food Project is designed to manage recipes and user interactions. <br> The admin portal handles recipe and category management, as well as user management. <br> The user portal allows users to view and favorite recipes, and update their profiles. <br>This system enhances the culinary experience with a user-friendly interface and robust functionality.
  
        </p>
        <div
          class="tools"
          data-aos="zoom-in-left"
          data-aos-delay="190"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="toolsName" *ngFor="let tools of foodProject">
            {{ tools.name  }}
          </div>
  
          <div class="toolsName" *ngFor="let tools of allProjectTool">
            {{ tools.name  }}
          </div>
  
        </div>
        <div class="btns">
          <button mat-raised-button class="livBtn" >
            <a href="https://github.com/yasmingamil22/FoodApp" target="_blank">Source Code</a>
            
          </button>
          <button mat-raised-button class="livBtn" >
            <a href="https://food-app-ten-blond.vercel.app/" target="_blank">Live Demo</a>
          </button>
        </div>
      </app-project-items>
  
      <!-- Fresh Cart E-commerce Project -->
      <app-project-items Responsive>
        <img
          src="../../../assets/projects/fresh cart project.png"
          alt="Software Screenshot"
          class="projectsRowImg"
          loading="lazy"
        />
        <h3
          class="projectsRowContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="120"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        Fresh Cart E-commerce
        </h3>
        <p
          class="projectsRowContentDesc"
          data-aos="fade-left"
          data-aos-delay="150"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        Fresh Cart is an e-commerce web application developed as a graduation project for Route Academy's Front-End track using Angular. <br> The platform offers a seamless shopping experience with features for browsing products, adding items to the cart, and checking out. <br> This project showcases advanced Angular techniques and a commitment to creating user-friendly, responsive applications.
        </p>
        <div
          class="tools"
          data-aos="zoom-in-left"
          data-aos-delay="190"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
        <div class="toolsName" *ngFor="let tools of freshCartProject">
          {{ tools.name  }}
        </div>
  
          <div class="toolsName" *ngFor="let tools of allProjectTool">
            {{ tools.name  }}
          </div>
        </div>
        <div class="btns">
          <button mat-raised-button class="livBtn" >
            <a href="https://github.com/yasmingamil22/FreshCart" target="_blank">Source Code</a>
          </button>
          <button mat-raised-button class="livBtn" >
            <a href="https://fresh-cart-iota-self.vercel.app/" target="_blank">Live Demo</a>
          </button>
        </div>
      </app-project-items>
  
  
    </div>
  </div>
  